@import '../../scss/variables.scss';
.root{
  background-color: white;
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 40px;
  right:80px;
  z-index: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  cursor: pointer;
  border: 2px solid $orange;
  span{
    font-size: 30px;
    transform: rotate(-46deg);
  }
}
.show {
  opacity: 1;
  transition: transform 0.2s ease-in-out;
  background-color: white;
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 40px;
  right:80px;
  z-index: 5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid $orange;
  filter: drop-shadow(-2px 2px  3px black);
  &:hover{
    background-color: rgb(253, 230, 186);
  }
  &:active{
    transform: translateY(3px);
    background-color:rgb(250, 210, 135);
  }
  
  span{
    font-size: 30px;
    transform: rotate(-46deg);
  }
}